- content_for :navbar do
  #navbar
    #main-logo
      %a.title{:href => root_path}
        = image_tag "uergs/logo-navbar-frontpage.png", :size => '285x120'
    -# #second-logo
    -#   = image_tag 'uergs/mconf-logo.png', :size => '240x120'

- content_for :page_header do
  = t(".headline")

#content

  - if current_site.oauth2_enabled?
    #login-box.form-area.login-oauth2
      = link_to user_omniauth_authorize_path(:moodle), class: "btn btn-large btn-danger" do
        = t('.click_to_access').html_safe
      .observation= t('.redirected').html_safe
      -# %h2= t('.login.title')

  - elsif current_site.local_auth_enabled? || current_site.ldap_enabled?
    #login-box.form-area
      %h2= t('.login.title')
      = render :partial => 'sessions/login_form'
      .action-links
        %ul
          - if current_site.shib_enabled?
            %li= link_to t('.login.federation'), shibboleth_path, :class => 'shibboleth_login'
          %li= link_to t('.login.lost_password'), new_user_password_path
